

# ANNE MBURU
##

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from math import sqrt
%matplotlib inline

In [2]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/HAMOYE INTERNSHIP/Regression/energydata_complete.csv")

data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [4]:
#check info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [ ]:
corr_dict = {}

In [ ]:
"""
corr_dict = {}
for col1 in corr_cols:
  temp = []
  col = "col1"

  #check corresponding correlations
  for col2 in corr_cols:
    if (correlated_info.at[col1,col2] >= 0.8) or (correlated_info.at[col1,col2] <= -0.8):
      temp.append(col2)

  #match to the column
  corr_dict[col1] = temp"""

'\ncorr_dict = {}\nfor col1 in corr_cols:\n  temp = []\n  col = "col1"\n\n  #check corresponding correlations\n  for col2 in corr_cols:\n    if (correlated_info.at[col1,col2] >= 0.8) or (correlated_info.at[col1,col2] <= -0.8):\n      temp.append(col2)\n\n  #match to the column\n  corr_dict[col1] = temp'

## Modelling

## **From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?**

In [5]:
#Get Data
X = data[['T2']]
Y = data[['T6']]

#split train and test
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

### model data
#init model
linear_model = LinearRegression()

#fit model
linear_model.fit(X_train, y_train)

#predict
y_pred1 = linear_model.predict(X_test)

In [6]:
#r2 score

r2_scores = r2_score(y_test, y_pred1)

print(round(r2_scores, 2))

0.65

## PART 2
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

In [7]:
## NEW DATA SPLIT
data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [8]:
new_data = data.drop(["date", "lights"], axis = 1)

new_data.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [9]:
#scale data
scaler = MinMaxScaler()

#normalize data
normalized_data = pd.DataFrame(scaler.fit_transform(new_data), columns = new_data.columns)

#features variable
features_df = normalized_data.drop(["Appliances"], axis = 1)

#predictor variable
predictor_df = normalized_data["Appliances"]

In [10]:

#split train and test
X_train, X_test, y_train, y_test = train_test_split(features_df, predictor_df, test_size=0.3, random_state=42)

### model data
#init model
linear_model = LinearRegression()

#fit model
linear_model.fit(X_train, y_train)

#predict
y_pred = linear_model.predict(X_test)

### What is the Mean Absolute Error (in two decimal places)?

In [11]:
## MAE
mae = mean_absolute_error(y_test, y_pred)

print("The Mean Absolute Value is {}".format(round(mae, 2)))

The Mean Absolute Value is 0.05

### What is the Residual Sum of Squares (in two decimal places)?

In [12]:
## rss
rss = np.sum(np.square(y_test - y_pred))
print("The RSS is {}".format(round(rss, 2)))

The RSS is 45.35

### What is the Root Mean Squared Error (in three decimal places)?

In [13]:
rmse = sqrt(mean_squared_error(y_test, y_pred))

print("The RMSE is {}".format(round(rmse, 3)))

The RMSE is 0.088

### What is the Coefficient of Determination (in two decimal places)?

In [14]:
#r2 score

r2_scores = r2_score(y_test, y_pred)

print("Coefficient of Determination Score is {}".format(round(r2_scores, 2)))

Coefficient of Determination Score is 0.15

### Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [15]:
#Weights
cols = list(linear_model.feature_names_in_)
weights = list(linear_model.coef_)

In [16]:
weights_dict = {}

for col in cols:
  for weight in weights:
      weights_dict[col] = weight
      weights.remove(weight)
      break

#weights and corresponding column
weights_dict

{'T1': -0.0032810511943449955,
 'RH_1': 0.5535465998386385,
 'T2': -0.23617791869490953,
 'RH_2': -0.45669794833849897,
 'T3': 0.290627137497035,
 'RH_3': 0.09604827330604822,
 'T4': 0.028980998554440855,
 'RH_4': 0.02638577689180207,
 'T5': -0.015656842778628367,
 'RH_5': 0.01600578842813376,
 'T6': 0.23642490886650835,
 'RH_6': 0.03804865205895018,
 'T7': 0.010318776387943214,
 'RH_7': -0.044613637361088164,
 'T8': 0.10199504524367516,
 'RH_8': -0.15759547759013165,
 'T9': -0.18994077300830786,
 'RH_9': -0.0398003166168215,
 'T_out': -0.321859668130085,
 'Press_mm_hg': 0.006839326382765933,
 'RH_out': -0.07767065318166695,
 'Windspeed': 0.02918312919843023,
 'Visibility': 0.012306608976810735,
 'Tdewpoint': 0.11775773489644314,
 'rv1': 0.0007700981331761158,
 'rv2': 0.0007700981331772764}

In [17]:
#sort dictionary
sorted_dict = sorted(weights_dict.items(), key=lambda x:x[1])

sorted_dict

[('RH_2', -0.45669794833849897),
 ('T_out', -0.321859668130085),
 ('T2', -0.23617791869490953),
 ('T9', -0.18994077300830786),
 ('RH_8', -0.15759547759013165),
 ('RH_out', -0.07767065318166695),
 ('RH_7', -0.044613637361088164),
 ('RH_9', -0.0398003166168215),
 ('T5', -0.015656842778628367),
 ('T1', -0.0032810511943449955),
 ('rv1', 0.0007700981331761158),
 ('rv2', 0.0007700981331772764),
 ('Press_mm_hg', 0.006839326382765933),
 ('T7', 0.010318776387943214),
 ('Visibility', 0.012306608976810735),
 ('RH_5', 0.01600578842813376),
 ('RH_4', 0.02638577689180207),
 ('T4', 0.028980998554440855),
 ('Windspeed', 0.02918312919843023),
 ('RH_6', 0.03804865205895018),
 ('RH_3', 0.09604827330604822),
 ('T8', 0.10199504524367516),
 ('Tdewpoint', 0.11775773489644314),
 ('T6', 0.23642490886650835),
 ('T3', 0.290627137497035),
 ('RH_1', 0.5535465998386385)]

In [18]:
#Lowest
lowest = list(sorted_dict)[0][0]

highest = list(sorted_dict)[-1][0]

print("Variable with lowest weights : {} \n Variables with highest Weights: {}".format(lowest, highest))

Variable with lowest weights : RH_2
 Variables with highest Weights: RH_1

### Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [19]:
ridge_reg =  Ridge(alpha = 0.4)

ridge_reg.fit(X_train, y_train)

y_pred = ridge_reg.predict(X_test)

rmse = sqrt(mean_squared_error(y_test, y_pred))

print("The RMSE is {}".format(round(rmse, 3)))

The RMSE is 0.088

### Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [20]:
lasso_reg =  Lasso(alpha = 0.001)

lasso_reg.fit(X_train, y_train)

lasso_coefs = lasso_reg.coef_

print("Number of Non-Zero coefficients: {}".format(np.count_nonzero(lasso_coefs)))

Number of Non-Zero coefficients: 4


### What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [21]:
y_pred = lasso_reg.predict(X_test)

rmse = sqrt(mean_squared_error(y_test, y_pred))

print("The RMSE is {}".format(round(rmse, 3)))

The RMSE is 0.094